@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Diamonds Profile</h1>
		
            <button type="submit" name="btnregister" style="width:360px" >Login</button>
            
            <button type="button" name="btnCancel" style="width:360px">Cancel</button>			
			
			<td><b><a href="/editAccount/@acc.Id">EditAccount</a></b></td><td><b><a href="/editAccount/@acc.Id">EditAccount</a></b></td>
	
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
